<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 footer__column">
                <h5 class="footer__column_title">
                    DENTAL DRILL SOLUTIONS
                </h5>
                <div class="footer__column_item footer__copyright text-center">
                    &copy; Tronyk Pty Ltd 2018 - @DateTime.UtcNow.Year | Developed by <a href="https://devguild.net/" class="text-light"><u>DevGuild</u></a>
                </div>
            </div>
        </div>
    </div>
</footer>