<footer class="footer">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-12 order-0 col-sm-4 order-sm-2 col-md-3 col-xl-2 mb-2 mb-sm-0">
                <a asp-action="Index" asp-controller="HandpieceStore" class="btn btn-block btn-primary">Handpiece Store</a>
            </div>
            <div class="col-12 order-1 col-sm-4 order-sm-2 col-md-3 col-xl-2 mb-2 mb-sm-0">
                <a asp-action="Index" asp-controller="Pickup" class="btn btn-block btn-primary">Book a Pick-up</a>
            </div>
            <div class="col-12 order-2 col-sm-4 order-sm-2 col-md-3 col-xl-2">
                <a href="mailto:info@dds11.au" class="btn btn-block btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
</footer>