@using DevGuild.AspNetCore.Controls.HybridForms
@using Kendo.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using DentalDrill.CRM.Extensions
@using DentalDrill.CRM.Models.Permissions
@model DentalDrill.CRM.Models.ViewModels.WorkshopRoles.WorkshopRoleEditModel
@{
    ViewBag.Title = "Create workshop role";
    this.ConfigureHybridPage("WorkshopRolesCreate");
}

<div class="editor">
    @if (!this.Context.IsAjaxRequest())
    {
        <div class="editor__header">
            <div class="editor__title">
                <h1>Create workshop role</h1>
            </div>
            <div class="editor__actions">
                <a asp-action="Index" class="editor__action"><span class="fas fa-list"></span> List</a>
            </div>
        </div>
    }
    <form asp-action="Create" hybrid-form-id="WorkshopRolesCreate" id="WorkshopRolesCreateForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 mb-2">
                <div class="row">
                    <div class="col-sm-5">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-sm-7">
                        <input asp-for="Name" class="k-textbox" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-2">
                <h5>Workshop Permissions</h5>
                <table class="table mb-2">
                    <colgroup><col style="width: 90%" /><col style="width: 10%" /></colgroup>
                    <thead>
                    <tr>
                        <th>Permission</th>
                        <th>Enabled</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i = 0; i < Model.WorkshopAccess.Count; i++)
                    {
                        var index = i;
                        <tr>
                            <td>
                                @Model.WorkshopAccess[index].Object.ToDisplayString()
                                <input asp-for="WorkshopAccess[index].Object" type="hidden"/>
                            </td>
                            <td>
                                <input asp-for="WorkshopAccess[index].Enabled" type="checkbox"/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            
            <div class="col-md-12 mb-2">
                <h5>Inventory Permissions</h5>
                <table class="table mb-2">
                    <colgroup><col style="width: 90%" /><col style="width: 10%" /></colgroup>
                    <thead>
                    <tr>
                        <th>Component</th>
                        <th>Enabled</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i = 0; i < Model.InventoryAccess.Count; i++)
                    {
                        var index = i;
                        <tr>
                            <td>
                                @Model.InventoryAccess[index].Object.ToDisplayString()
                                <input asp-for="InventoryAccess[index].Object" type="hidden"/>
                            </td>
                            <td>
                                <input asp-for="InventoryAccess[index].Enabled" type="checkbox"/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col editor__submit">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-outline-secondary ml-2 editor__submit__cancel">Cancel</a>
            </div>
        </div>
    </form>
</div>