@using DentalDrill.CRM.Extensions
@using DentalDrill.CRM.Models.Permissions
@using DevGuild.AspNetCore.Controls.HybridForms
@model DentalDrill.CRM.Models.ViewModels.WorkshopRoles.WorkshopRoleEditModel
@{
    ViewBag.Title = $"Workshop role {Model.Original.Name}";
    this.ConfigureHybridPage("WorkshopRolesDetails");
}

<div class="editor">
    @if (!this.Context.IsAjaxRequest())
    {
        <div class="editor__header">
            <div class="editor__title">
                <h1>Workshop role @Model.Original.Name</h1>
            </div>
            <div class="editor__actions">
                <a asp-action="Index" class="editor__action"><span class="fas fa-list"></span> List</a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="row">
                <div class="col-sm-5">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-7">
                    <input asp-for="Name" class="k-textbox" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-2">
            <h5>Workshop Permissions</h5>
            <table class="table mb-2">
                <colgroup><col style="width: 90%" /><col style="width: 10%" /></colgroup>
                <thead>
                <tr>
                    <th>Permission</th>
                    <th>Enabled</th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < Model.WorkshopAccess.Count; i++)
                {
                    var index = i;
                    <tr>
                        <td>
                            @Model.WorkshopAccess[index].Object.ToDisplayString()
                            <input asp-for="WorkshopAccess[index].Object" type="hidden"/>
                        </td>
                        <td>
                            <input asp-for="WorkshopAccess[index].Enabled" type="checkbox" disabled="disabled"/>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        
        <div class="col-md-12 mb-2">
            <h5>Inventory Permissions</h5>
            <table class="table mb-2">
                <colgroup><col style="width: 90%" /><col style="width: 10%" /></colgroup>
                <thead>
                <tr>
                    <th>Component</th>
                    <th>Enabled</th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < Model.InventoryAccess.Count; i++)
                {
                    var index = i;
                    <tr>
                        <td>
                            @Model.InventoryAccess[index].Object.ToDisplayString()
                            <input asp-for="InventoryAccess[index].Object" type="hidden"/>
                        </td>
                        <td>
                            <input asp-for="InventoryAccess[index].Enabled" type="checkbox" disabled="disabled"/>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row tab-strip-spinner">
        <div class="col">
            <kendo-tabstrip name="WorkshopRoleTabStrip" class="k-tabstrip-autonavigation">
                <items>
                    <tabstrip-item selected="true" data-tabname="JobTypes" text="Job Types Permissions" asp-action="DetailsTabJobTypes" asp-controller="WorkshopRoles" asp-route-parentId="@Model.Original.Id" />
                </items>
            </kendo-tabstrip>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/app/pages/workshopRoleJobTypes/index.js" asp-append-version="true"></script>
}