@using DevGuild.AspNetCore.Controls.HybridForms
@using DentalDrill.CRM.Extensions
@model DentalDrill.CRM.Models.ViewModels.InventoryMovements.InventoryMovementVerifyWithEditModel
@{
    ViewBag.Title = "Verify Move";
    this.ConfigureHybridPage("InventoryMovementsVerifyWithEdit");
}

<div class="editor">
    @if (!this.Context.IsAjaxRequest())
    {
        <div class="editor__header">
            <div class="editor__title">
                <h1>Verify Move</h1>
            </div>
            <div class="editor__actions">
                <a asp-action="Index" asp-controller="InventoryMovements" class="editor__action"><span class="fas fa-list"></span> List</a>
            </div>
        </div>
    }

    <form asp-action="VerifyWithEdit" asp-route-id="@Model.Movement.Id" hybrid-form-id="InventoryMovementsVerifyWithEdit" id="InventoryMovementsVerifyWithEditForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label>SKU</label>
                    </div>
                    <div class="col-12">
                        <p class="form-control-plaintext">[@Model.SKU.Type.Name] @Model.SKU.Name</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label>Type</label>
                    </div>
                    <div class="col-12">
                        <p class="form-control-plaintext">@Model.Movement.Type.ToDisplayName()</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="Quantity"></label>
                    </div>
                    <div class="col-12">
                        <input asp-for="Quantity" type="text" class="k-textbox" placeholder="Enter QTY" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label>Average Price</label>
                    </div>
                    <div class="col-12">
                        <p class="form-control-plaintext">@Model.SKU.AveragePrice?.ToString("'$'#,##0.##")</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-12">
                        <input asp-for="Price" class="k-textbox" placeholder="Enter Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="Comment"></label>
                    </div>
                    <div class="col-12">
                        <textarea asp-for="Comment" class="k-textbox" placeholder="Comment or note for the movement"></textarea>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col editor__submit">
                <button type="submit" class="btn btn-success">Verify</button>
                <a asp-action="Index" asp-controller="InventoryMovements" class="btn btn-outline-secondary ml-2 editor__submit__cancel">Cancel</a>
            </div>
        </div>
    </form>
</div>