// Layout

$navbar-background-color: white !default;
$navbar-color: rgba(0, 0, 0, 0.5) !default;
$navbar-dropdown-background-color: #ffffff !default;
$navbar-dropdown-color: #212529 !default;

$main-background-image: linear-gradient(to bottom right, #0c0c50, #50c0f8, #0c0c50) !default;
$main-background-color: white !default;
$main-color: #212529 !default;

$footer-background-color: #363636 !default;
$footer-color: #e0e0e0 !default;
$footer-link-color: #337ab7 !default;

// Editor

$control-background: #ffffff !default;
$control-color: #212529 !default;

$action-color: #232323 !default;
$action-border-color: #232323 !default;
$action-hover-color: #ffffff !default;
$action-hover-background-color: #232323 !default;

// Kendo

$kendo-grid-email-color: blue !default;

// Components

// bootstrap/material-pills

$material-pills-color: black !default;
$material-pills-border-color: lightgrey !default;
$material-pills-border-color-active: black !default;

// week-selector

$week-selector-buttons-color: black !default;
$week-selector-buttons-color-disabled: #6c757d !default;

// Pages

$notifications-background-color: white !default;
