@using DentalDrill.CRM.Models.ViewModels
@{
    ViewBag.Title = "Feedback";
    Layout = "_FeedbackLayout";
}

<div class="feedback-wrapper">
    <div class="feedback-form">
        <div class="feedback-form__title">
            <img class="feedback-form__title__logo" src="/img/dds-logo.jpg" alt="Dental Drill Solutions" />
            <h1 class="feedback-form__title__heading">We value your feedback</h1>
        </div>

        <div class="feedback-form__greeting">
            Feedback successfully submitted
        </div>
    </div>
</div>