@using Kendo.Mvc.UI
@using Kendo.Mvc.UI.Fluent
@using DentalDrill.CRM.Models.ViewModels
@model DentalDrill.CRM.Models.ViewModels.EmptyIndexViewModel
@{
    Layout = "_FullLayout";
    ViewBag.Title = "Clients";
}

<div class="grid-wrapper">
    <h1 class="grid-wrapper__header mt-3">Clients</h1>
    <div class="grid-wrapper__grid">
        @(Html.Kendo().Grid<DentalDrill.CRM.Models.ViewModels.ClientViewModel>()
              .Name("ClientsGrid")
              .HtmlAttributes(new { @class = "k-grid-commandicons k-grid--dense k-grid--small-text k-grid--dense-filter k-grid--auto-resize", style = "height: 100%" })
              .Columns(columns =>
              {
                  columns.Bound(c => c.ZoneName).Width(65);
                  columns.Bound(c => c.Name).Width(150);
                  columns.Bound(c => c.PrincipalDentist).Width(150);
                  columns.Bound(c => c.Phone).Width(100);
                  columns.Bound(c => c.Address).Width(150);
                  columns.Bound(c => c.Suburb).Width(100);
                  columns.Bound(c => c.StateName).Width(65);
                  columns.Bound(c => c.Postcode).Width(60);
                  var emailTemplate = @"#=(function(data) { 
                    if (data.Email) { 
                        var tag = document.createElement(""a"");
                        tag.setAttribute(""data-toggle"", ""tooltip"");
                        tag.setAttribute(""data-placement"", ""left"");
                        tag.setAttribute(""title"", data.Email);
                        tag.setAttribute(""class"", ""grid-email"");
                        tag.setAttribute(""href"", ""mailto:"" %2B data.Email);
                        tag.innerText = data.Email;
                        return tag.outerHTML;
                    }return """"; })(data)#";
                  columns.Bound(c => c.Email).ClientTemplate(emailTemplate).Width(65);
                  columns.Bound(c => c.HandpiecesCount).Width(50);
                  columns.Bound(c => c.AverageRating).Width(50);
                  columns.Command(command =>
                  {
                      command.Custom("CustomDetails").Text("<span class=\"fas fa-fw fa-external-link-alt\"></span>").Click("DentalDrill.CRM.Pages.Clients.Index.ClientsGrid.handleDetailsClick");
                      command.Custom("CustomEdit").Text("<span class=\"fas fa-fw fa-pencil-alt\"></span>").Click("DentalDrill.CRM.Pages.Clients.Index.ClientsGrid.handleEditClick");
                      command.Custom("CustomDelete").Text("<span class=\"fas fa-fw fa-trash-alt\"></span>").Click("DentalDrill.CRM.Pages.Clients.Index.ClientsGrid.handleDeleteClick");
                  }).Width(80);
              })
              .ToolBar(toolbar =>
              {
                  toolbar.Custom().Name("CustomCreate").Text("<span class='k-icon k-i-add'></span>" + "New Client").HtmlAttributes(new { href = Url.Action("Create")});
              })
              .ColumnMenu(cm => cm.Enabled(false))
              .Pageable()
              .Scrollable(scrollable => scrollable.Enabled(true).Height("auto"))
              .Sortable()
              .Filterable(filterable =>
              {
                  //filterable.Mode(GridFilterMode.Menu)
                  filterable.Extra(false);
                  filterable.Operators(op =>
                  {
                      op.ForString(str => str.Clear().Contains("Contains"));
                      op.ForNumber(num => num.Clear().IsGreaterThan("Greater Than").IsLessThan("Less Than").IsEqualTo("Equal to"));
                      op.ForDate(date => date.Clear().IsGreaterThan("After").IsLessThan("Before"));
                  });
              })
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .Model(model =>
                  {
                      model.Id(f => f.Id);
                      model.Field(f => f.Id).DefaultValue(default(Guid));
                      model.Field(f => f.Name);
                  })
                  .Sort(sort => sort.Add(x => x.ZoneName))
                  .Read(read => read.Action("Read", "Clients"))
                  .Events(events => events.Error("DevGuild.AspNet.Controls.Grids.Errors.GridErrorHandler.handleGridError").RequestStart("DevGuild.AspNet.Controls.Grids.Errors.GridErrorHandler.handleRequestStart")))
              .Events(events => events.DataBound("DentalDrill.CRM.Pages.Clients.Index.ClientsGrid.handleDataBound")))
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/app/pages/clients/index.js" asp-append-version="true"></script>
}