@using Kendo.Mvc.UI
@using DentalDrill.CRM.Models.ViewModels
@using DentalDrill.CRM.Models.Permissions
@model DentalDrill.CRM.Models.ViewModels.EmptyEmployeeIndexViewModel
@{
    ViewBag.Title = "Service Levels";
}

<h1 class="header">Service Levels</h1>

@(Html.Kendo().Grid<DentalDrill.CRM.Models.ViewModels.ServiceLevelViewModel>()
      .Name("ServiceLevelsGrid")
      .HtmlAttributes(new { @class = "k-grid-commandicons2", style = "height: 630px" })
      .Columns(columns =>
      {
          columns.Bound(c => c.Name);
          columns.Bound(c => c.DisableReminders).Title("Disable Reminders");
          columns.Command(command =>
          {
              if (Model.Access.Global.CanWriteComponent(GlobalComponent.ServiceLevel))
              {
                  command.Edit().Text("<span></span>").IconClass("fas fa-fw fa-pencil-alt");
                  command.Destroy().Text("<span></span>").IconClass("fas fa-fw fa-trash-alt");
              }
          });
      })
      .ToolBar(toolbar =>
      {
          if (Model.Access.Global.CanWriteComponent(GlobalComponent.ServiceLevel))
          {
              toolbar.Create();
          }
      })
      .ColumnMenu(cm => cm.Enabled(false))
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Pageable()
      .Scrollable(scrollable => scrollable.Enabled(true).Height("auto"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model =>
          {
              model.Id(f => f.Id);
              model.Field(f => f.Id).DefaultValue(default(Guid));
              model.Field(f => f.Name);
              model.Field(f => f.DisableReminders);
          })
          .Read(read => read.Action("Read", "ServiceLevels"))
          .Create(create => create.Action("Create", "ServiceLevels"))
          .Update(update => update.Action("Update", "ServiceLevels"))
          .Destroy(destroy => destroy.Action("Destroy", "ServiceLevels"))
          .Events(events => events.Error("DevGuild.AspNet.Controls.Grids.Errors.GridErrorHandler.handleGridError").RequestStart("DevGuild.AspNet.Controls.Grids.Errors.GridErrorHandler.handleRequestStart"))))

@section Scripts {
    <script type="text/javascript" src="~/js/app/pages/serviceLevels/index.js" asp-append-version="true"></script>
}