@{
    Layout = "_LandingFormLayout";
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>Forgot password confirmation</h1>
<p>
    Please check your email to reset your password. <a asp-action="Login">Click here to return back to the log in</a>.
</p>
