@model DentalDrill.CRM.Models.ViewModels.Identity.Account.ResetPasswordViewModel
@{
    Layout = "_LandingFormLayout";
    ViewData["Title"] = "Reset password";
}

<h1>Reset password</h1>
<form asp-action="ResetPassword" asp-route-userId="@Model.UserId" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="form-group">
        <input asp-for="Password" placeholder="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" placeholder="Confirm password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="row landing__form__actions">
        <div class="col-12 order-2 col-sm-8 order-sm-1">
            <a asp-action="Login" asp-controller="Account">Login</a>
        </div>
        <div class="col-12 order-1 col-sm-4 order-sm-2">
            <button type="submit" class="btn btn-block btn-primary">Reset</button>
        </div>
    </div>
</form>