// Layout

$navbar-background-color: #303030 !default;
$navbar-color: #ffffff !default;
$navbar-dropdown-background-color: #303030 !default;
$navbar-dropdown-color: #ffffff !default;

$main-background-image: none !default;
$main-background-color: #222222 !default;
$main-color: #ffffff !default;

$footer-background-color: #363636 !default;
$footer-color: #e0e0e0 !default;
$footer-link-color: #337ab7 !default;

// Editor

$control-background: #111111 !default;
$control-color: #ffffff !default;

$action-color: #ffffff !default;
$action-border-color: #17a2b8 !default;
$action-hover-color: #ffffff !default;
$action-hover-background-color: #17a2b8 !default;

// Kendo

$kendo-grid-email-color: #337ab7 !default;

// Components

// bootstrap/material-pills

$material-pills-color: #ffffff !default;
$material-pills-border-color: #444444 !default;
$material-pills-border-color-active: #ffffff !default;

// week-selector

$week-selector-buttons-color: #ffffff !default;
$week-selector-buttons-color-disabled: #6c757d !default;

// Pages

$notifications-background-color: #303030 !default;