.container.reports {
    /* Empty */
    .surgery__main-search {
        h1 {
            color: white;
            text-shadow: 0 1px 2px rgba(0,0,0,.85);
        }
    }

    .reports__container {
        background-color: white;
        border-radius: .25rem;

        &__state-select {
            /*margin-bottom: -1rem;*/
        }

        .filters__container {
            #FiltersDatesPreset {
                background-color: steelblue;
            }
        }
    }

    .multi-select-toggler {
        /* Empty */
        &__item {
            /* Empty */
            &--active {
                background-color: steelblue;
            }

            &--partial {
                background-color: lightblue;
            }
        }
    }

    .toggle-list {
        /* Empty */
        &__item {
            /* Empty */
            &--active {
                background-color: steelblue;
            }
        }
    }

    .toggle-button {
        /* Empty */
        &--active {
            background-color: steelblue;
        }
    }

    .reports__insights {
        &__total {
            &__key {
                font-size: 0.75rem;
                margin-top: -0.25rem;
            }

            &__value {
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }

    &__surgeries {
        /* Empty */
    }

    &__brands {
        /* Empty */
        &__fields {
            /* Empty */
        }

        &__container {
            /* Empty */
        }

        &__insights {
            /* Empty */
        }

        &__insights-container {
            /* Empty */
        }
    }

    &__statuses {
        /* Empty */
        &__container {
            /* Empty */
        }

        &__insights {
            /* Empty */
        }

        &__insights-container {
            /* Empty */
        }
    }
}

.k-tooltip-validation {
    position: absolute;
    top: 30px;
    padding: 5px;
    color: #856404;
}

.pdf-report__page {
    .chart {
        zoom: 1;
    }

    .reports__insights {
        &__total {
            &__caption {
                font-size: 0.75em;
            }

            &__key {
                font-size: 0.75em;
                margin-top: -0.25em;
            }

            &__value {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }

    .report-table {
        font-size: 10px;
        border-left: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        border-collapse: collapse;

        tr {
            th, td {
                > div {
                    padding: 1px;
                    height: 20px;
                    max-height: 20px;
                    line-height: 20px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        thead tr {
            th {
                border-collapse: collapse;
                border-bottom: 1px solid #cccccc;
                border-right: 1px solid #cccccc;
            }
        }

        tbody tr {
            th, td {
                border-collapse: collapse;
                border-right: 1px solid #cccccc;
            }
        }

        tbody tr:nth-of-type(2n) {
            background-color: rgba(33, 37, 41, 0.03);
        }

        &__row--parent {
            font-weight: bold;
        }
    }
}