@import "abstracts/_variables.scss";

@import "layout/_layout.scss";
@import "layout/_editor.scss";

@import "components/kendo/_basic.scss";
@import "components/kendo/_grid.scss";
@import "components/kendo/_listview.scss";
@import "components/kendo/_tabstrip.scss";
@import "components/kendo/_window.scss";
@import "components/bootstrap/_material-pills.scss";
@import "components/image-uploader/_image-uploader.scss";
@import "components/week-selector/_week-selector.scss";
@import "components/handpiece-status-indicator/_handpiece-status-indicator.scss";
@import "components/grid-filters/_grid-filters.scss";
@import "components/grid-wrapper/_grid-wrapper.scss";
@import "components/report-pages/_report-pages.scss";

@import "pages/_inventory.scss";
@import "pages/_jobs.scss";
@import "pages/_notifications.scss";
@import "pages/_reports.scss";
@import "pages/_surgery.scss";
