<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DevGuild" value="../nuget/private" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="DevGuild">
      <package pattern="DevGuild.*" />
      <package pattern="Telerik.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>