.image-uploader {
    .image-uploader__preview {
        padding: 15px;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
}

.image-uploader-multiple {
    &__ids {
        display: none;
    }

    &__previews {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        &__preview {
            position: relative;
            flex: 0 0 auto;
            width: 18rem;
            height: 18rem;
            background-color: transparent;
            border: 1px solid rgba(0,0,0,0.125);
            border-radius: 0.25rem;

            .image-uploader-multiple--size-8 & {
                width: 8rem;
                height: 8rem;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &__remove {
                position: absolute;
                top: 0.25rem;
                right: 0.25rem;
                width: 1.25rem;
                height: 1.25rem;
                line-height: 1.25rem;

                cursor: pointer;
                color: black;
                background-color: white;

                text-align: center;
                box-sizing: content-box;
                border: 2px solid black;
                border-radius: 50%;

                &:hover {
                    background-color: red;
                }
            }
        }
    }
}